<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alquileres Pendientes</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="pendings">
    <h1 class="title"><img src="usuarios.png" alt="Icono" class="icon">Alquileres Pendientes</h1>
    <div class="pending">
      <div class="user-info">
        <img src="Test.jpg" alt="Foto de perfil" class="profile-pic"> <!-- indicar la fotografia aquí... -->
        <p class="time">Hace 5 min</p>
      </div>
      <div class="request-info">
        <p class="date-time"><img src="calendario.png" alt="Calendario" class="icon">26/03/2024 <img src="reloj.png" alt="Reloj" class="icon">19:49 h</p>
        <div class="details">
          <p class="verified"><img src="comprobacion-de-insignias.png" alt="Verificado" class="icon">Verificado</p>
          <p class="location"><img src="marcador.png" alt="Marcador" class="icon">Cochabamba</p>
        </div>
        <div class="price-description">
          <p class="price">40 BOB</p>
          <p class="description">Conocer gente nueva</p>
        </div>
      </div>
      <div class="action-buttons">
        <button class="accept-button">Aceptar</button>
        <button class="reject-button">Rechazar</button>
      </div>
    </div>
  </div>
</body>
</html>