.selection-register-container{
    display: grid;
    place-items: center;
    margin: 40px;
}
.selection-register-container h1 {
    font-size: 52px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

.selection-register-container p {
    margin-top: 40px;
    color: #737373;
    font-size: larger;
    display: flex;
    justify-content: center;
    text-align: center;
}

.botonRegister {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
  }
  
  .botonRegister:hover {
    background-color: #0056b3;
  }
  