@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alata&display=swap');

:root{
  /*-------------------Paleta de Colores----------------*/
  --primary-color: #FBA834;
  --secondary-color: #333A73 ;
  --tertiary-color: #387ADF ;
  --quaternary-color: #50C4ED ;

  /*-------------------Padding botones----------------*/
  --high-button: 12px;
  --broad-button: 24px;

}

body{
  font-family: "Alata", sans-serif;
}

